    body {
        background-color: oldlace;
        background-repeat: no-repeat;
        color: #fff;
    }
    
    body * {
        font-family: Ubuntu;
    }
    
    .wrapper .logo {
        width: 50px;
        height: 50px;
        margin: 3px 6px;
        border-radius: 50%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: brown;
        font-weight: normal;
        margin: 0;
    }
    
    a,
    a:hover,
    a:visited {
        color: whitesmoke;
        text-decoration: none;
    }
    
    .wrapper {
        width: 100%;
        margin: 10px;
    }
    
    div.wrapper h1 {
        text-align: center;
        margin: 100px auto;
        font-size: 2.4em;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 0;
    }
    
    nav {
        top: 0px;
        height: 80px;
        width: 100%;
    }
    
    nav li {
        display: inline-block;
        margin-left: 10px;
    }
    
    nav button {
        position: absolute;
        right: 10px;
        background: none;
        color: red;
        cursor: pointer;
        border: 1px solid red;
        font-size: 1.2em;
        opacity: 0.9;
        border-radius: 5px;
    }
    
    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    
    .article {
        padding: 10px;
        border: 5px solid #00dba0;
        position: relative;
        padding-bottom: 40px;
        background-image: url(flower.jpg);
    }
    
    .article h2 {
        font-family: 'sans-serif', serif;
        font-size: 1.2em;
    }
    
    .article .author {
        padding: 10px;
        background: #0000dba0;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
        color: #00f121f1;
    }
    
    .article_detail .article {
        padding: 0;
    }
    
    .article_detail .article img {
        max-width: 100%;
    }
    
    .article_detail .article h2 {
        text-align: center;
        margin: 20px auto;
        font-size: 2em;
    }
    
    .article_detail .article p {
        text-align: center;
    }
    
    .site-form {
        margin-top: 60px;
        border: 1px solid #00dba0;
        padding: 20px;
        background-image: url(hand.png);
    }
    
    .site-form input,
    .site-form textarea {
        display: block;
        margin: 20px 0 0 0;
        padding: 10px;
    }
    
    a.highlight {
        position: absolute;
        right: 100px;
        top: 40px;
        border: 1px solid aquamarine;
        padding: 10px;
        border-radius: 10px;
        color: green;
    }
    
    .help-block .help-block ul {
        margin: 0 auto 20px;
        font-size: 0.9em;
        display: block;
    }
    
    .error #error_1_id_username {
        padding: 10px;
        list-style-type: none;
        border: 1px solid #ff5722;
        color: #ff5722;
        margin: 10px 0;
    }
    
    .error #error_1_id_password2 {
        padding: 10px;
        list-style-type: none;
        border: 1px solid #ff5722;
        color: #ff5722;
        margin: 10px 0;
    }
    
    .site-form input[type="submit"] {
        background: #0000dba0;
        border: 0;
        color: #fff;
        font-size: 1.2em;
        border-radius: 4px;
        margin: 10px;
    }